h2{
    color:red;
    font-family: 'Georgia';
    visibility: hidden;
    /* display: none; */
}

p{
    font-size: 14px;
}


div{
    width: 30%;
    background-color: white;
    padding: 40px;
    
}

a{
    text-decoration: none;
    /* display: none; */
    border: 2px solid red;
    visibility: hidden;
}

section{
    background-image: url('https://promotions.bankofamerica.com/content/dam/consumer-marketing/tiles/CreditCards_560x315.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
     display: grid;
     grid-template-columns: 50% 50%;
}